{% extends 'base.html.twig' %}

{% block title %}Hello PurchaseController!{% endblock %}

{% block body %}
    <div class="container">
<form class="Register-form" action="{{ path('create order') }}" method="post">

    {% for quantity,key in cart %}
    element id :<input type="text" value="{{ key }}" name={{ key }} readonly =""/>
   quantity :<input type="text" value="{{quantity  }}"  name="{{ quantity }}"+"{{ key }}" readonly =""/>
        <br>
    {% endfor %}
      total price :  <input type="text"  value={{  app.session.get('cost') }} name="cost"/>

         <br>
            enter credit card  <input type="credit card number" value=""  class="form-control"
                  name="card">


        <button>confirm your purchase</button>

    </form>
    </div>

{% endblock %}
