{% extends 'base.html.twig' %}

{% block title %}Hello PurchaseController!{% endblock %}

{% block body %}

    <div class="container">
        <form class="Register-form" action="{{ path('create order') }}" method="post">

            <table class="table table-hover">
                <thead>
                <tr style="color: whitesmoke">
                    <th scope="col">Item Id</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                {% for quantity,key in cart %}
                    <tr class="table-light">

                        <td>{{ key }}</td>
                        <td>{{ quantity }}</td>

                    </tr>

                {% endfor %}
                <tr class="table-warning" >

                    <td>total price :</td>
                    <td>{{ app.session.get('cost') }}</td>
                </tr>
            </table>
            <table class="table table-hover">
                <thead>
                <tr style="color: whitesmoke">
                    <th scope="col">Address coordinate</th>
                    <th scope="col">information</th>
                </tr>
                </thead>
                <tr class="table-light">
                    <td> address</td>
                    <td> {{ address.address }} </td>


                </tr>
                <tr class="table-light">
                    <td> city</td>
                    <td> {{ address.city }} </td>


                </tr>
                <tr class="table-light">
                    <td> state</td>
                    <td> {{ address.state }} </td>


                </tr>
                <tr class="table-light">
                    <td> zip</td>
                    <td> {{ address.zip }} </td>


                </tr>
                <tr class="table-light">
                    <td> country</td>
                    <td> {{ address.country }} </td>


                </tr>


            </table>
            <br>

     <div style="display: flex;
  justify-content: center";><button  class="btn btn-primary" >confirm your purchase</button></div>


        </form>
    </div>

{% endblock %}
