{% extends 'base.html.twig' %}
    {%  block title %}Gallery • Astronomy Magazine {% endblock %}
    {% block assets %}
        <link rel="stylesheet" href={{ asset('css/main.css') }}>
        <link rel="stylesheet" href={{ asset('css/gallery.css') }}>
        <link rel="stylesheet" href={{ asset('css/lightbox.min.css') }}>
        <link rel="stylesheet" href={{ asset('css/hubble.css') }}>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    {%  endblock %}
{% block div %} <div class="bgimage"> {% endblock %}
    {% block body %}

    <section class="picture">
        <h2 class="h2"> PICTURE OF THE DAY </h2> <br>

        <ul class="api" >
            <li id="date" style="letter-spacing: 2px; color : white ;"></li> <br>
            <img class="media"
                 src="" width="1000" height="600"
                 alt="picture of the day">
            <div id="text">
                <p id="explanation" style="color : white;"></p>
                <br>
            </div>
            <iframe width="1000" height="600" style="box-sizing: content-box;"
                    src="">
            </iframe>

        </ul>


    </section>
</div>

    <div class="gallery">

        <div class="content">
            <h2 class="text_shadows">hubble
                <br> observations</h2>
        </div>



        <div class="imageSet">

            <a href="../images/hubble/nebula.jpg" data-lightbox="mygallery" data-title="Nebula"> <img src="../images/hubble/nebula(small).jpg" width="300px" height="200px" ></a>
            <a href="../images/hubble/black eye galaxy.jpg" data-lightbox="mygallery" data-title="Black eye galaxy" > <img src="../images/hubble/black eye galaxy.jpg" width="300px" height="200px"></a>
            <a href="../images/hubble/nebula1.jpg" data-lightbox="mygallery" data-title="Nebula" > <img src="../images/hubble/nebula1.jpg" alt="" width="300px" height="200px"></a>
            <a href="../images/hubble/star birth 1.jpg" data-lightbox="mygallery" data-title="Star birth" > <img src="../images/hubble/star birth 1.jpg" alt="" width="300px" height="200px"></a>
            <a href="../images/hubble/star birth.jpg" data-lightbox="mygallery" data-title="Star birth" > <img src="../images/hubble/star birth.jpg" alt="" width="300px" height="200px"></a>
            <a href="../images/hubble/the veil nebula.jpg" data-lightbox="mygallery" data-title="The veil nebula" > <img src="../images/hubble/the veil nebula.jpg" alt=""width="300px" height="200px" ></a>
            <a href="../images/hubble/dusk.jpg" data-lightbox="mygallery" data-title="The veil nebula" > <img src="../images/hubble/dusk.jpg" alt="" width="300px" height="200px"></a>
            <a href="../images/hubble/galaxies.jpg" data-lightbox="mygallery" data-title="the veil nebula" > <img src="../images/hubble/galaxies.jpg" alt=""width="300px" height="200px" ></a>
            <a href="../images/hubble/galaxie1.jpg" data-lightbox="mygallery" data-title="the veil nebula" > <img src="../images/hubble/galaxie1.jpg" alt="" width="300px" height="200px"></a>
            <a href="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=827&q=80" data-lightbox="mygallery" data-title="Blazing starbirth" > <img src="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=827&q=80" alt="" width="300px" height="200px"></a>
            <a href="https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80" data-lightbox="mygallery" data-title="Cloud Tornado" > <img src="https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80" alt="" width="300px" height="200px"></a>
            <a href="https://images.unsplash.com/photo-1570556319136-3cfc640168a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80" data-lightbox="mygallery" data-title="Dwarf planet Ceres" > <img src="https://images.unsplash.com/photo-1570556319136-3cfc640168a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80" alt="" width="300px" height="200px"></a>
            <a href="https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80" data-lightbox="mygallery" data-title="Mercury" > <img src="https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80" alt="" width="300px" height="200px"></a>
            <a href="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" data-lightbox="mygallery" data-title="Facing the sun" > <img src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" width="300px" height="200px"></a>




        </div>
    </div>


{%  endblock %}


{% block scripts %}
    <script src={{ asset("js/gallery.js") }}></script>
    <script src={{ asset("js/lightbox-plus-jquery.min.js") }}></script>
{% endblock %}


