{% extends 'base.html.twig' %}

{% block title %}Shop • Astronomy Magazine{% endblock %}

{% block body %}
    {% for value in  app.session.flashBag.get('success') %}
        <div class="alert alert-success" style="color: black">
            {{ value }}
        </div>

    {% endfor %}
    {% for value in  app.session.flashBag.get('warning') %}
        <div class="alert alert-warning" style="color: black">
            {{ value }}
        </div>

    {% endfor %}
    {% for value in  app.session.flashBag.get('danger') %}
        <div class="alert alert-danger" style="color: black">
            {{ value }}
        </div>

    {% endfor %}

    <div class="section">
        <div class="container">
            <section class="posters">
                <h1>
                        Our Posters
                </h1>
                <div class="image-carousel style2 flexslider" data-animation="slide" data-item-width="270" data-item-margin="30">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides image-box hotel listing-style1" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(0px, 0px, 0px);">
                        {% for poster in posters %}
                            <li style="width: 270px; float: left; display: block; border: 0;">
                                <article class="box">
                                    <figure> <a href="#" class="hover-effect popup-gallery"><img class="zoom" width="270" height="160" alt=""
                                    src=https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80 draggable="false"></a> </figure>
                                    <div class="details"> <span class="price"><small>Price</small>{{ poster.price }}</span>
                                        <h4 class="box-title">{{ poster.label}}<small>{{ poster.available }}</small></h4>
                                        <br>
                                        <p class="description">For what reason would it be advisable for me to think about business content?</p>
                                        <form class="Register-form" action="{{ path('addtocart',{ id :poster.id}) }}" method="post">
                                            <input type="number" class="form-control" name="stock" oninput="validity.valid||(value='');" class="count" value="1" min="1" >
                                            <a class="button btn-small" href="#">View Details</a>
                                            <button class="button btn-small yellow popup-map" type="submit" data-box="37.089072, -8.247880"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg>Add to Cart</button>
                                        </form>
                                        <div class="action">
                                          </div>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="buttons">
                <a  class="btn buy" href={{ path('previousp') }} >
                    <button class="w3-button w3-large w3-black">‹</button>
                </a>
                <a  class="btn buy" href={{ path('nextp') }} >
                    <button class="w3-button w3-large w3-black">›</button>
                </a>
            </div>

            </section>
            <br>
            <section class="magazines">
                <h1>Our Magazines</h1>
                <div class="image-carousel style2 flexslider" data-animation="slide" data-item-width="270" data-item-margin="30">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides image-box hotel listing-style1" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(0px, 0px, 0px);">

                            {% for magazine in magazines %}
                                <li style="width: 270px; float: left; display: block;">
                                    <article class="box">
                                        <figure> <a href="#" class="hover-effect popup-gallery"><img class="zoom" width="270" height="160" alt="" src=https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80 draggable="false"></a> </figure>
                                        <div class="details"> <span class="price"><small>Price</small>{{ magazine.price }}</span>
                                            <h4 class="box-title">{{ magazine.label }}<small>{{ magazine.available }}</small></h4>
                                            <br>
                                            <p class="description">For what reason would it be advisable for me to think about business content?</p>
                                            <form class="Register-form" action="{{ path('addtocart',{ id :magazine.id }) }}" method="post">
                                                <input type="number" class="form-control" name="stock" oninput="validity.valid||(value='');" class="count" value="1" min="1" >
                                                <div class="action">
                                                    <a class="button btn-small" href="#">View Details</a>
                                                    <button class="button btn-small yellow popup-map" type="submit" data-box="37.089072, -8.247880"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                        </svg>Add to Cart</button>
                                                </div>
                                            </form>


                                        </div>
                                    </article>
                                </li>
                            {% endfor %}
                        </ul>



                    </div>
                </div>
                <div class="buttons">
                    <a  class="btn buy" href={{ path('previousm') }} >
                        <button class="w3-button w3-large w3-black">‹</button>
                    </a>
                    <a  class="btn buy" href={{ path('nextm') }} >
                        <button class="w3-button w3-large w3-black">›</button>
                    </a>
                </div>
            </section>
            <br>
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title" style ="display :flex;align-items:stretch;">Cart
                        {% if labels %}
                        <img style= "margin-left: 60%;" height="60" width="60" src={{ asset('images/full.png')}}  >
                        {% else%}
                        <img style= "margin-left: 60%;" height="60" width="60" src={{ asset('images/empty.png')}}  >
                    {% endif %}
                    </h5>
                    <p class="card-text">These are your selected items </p>
                </div>
                <ul class="list-group list-group-flush">
                    {% if app.session.get('cart') is defined  %}
                        {% for key ,quantity in labels %}
                            <form class="Register-form" action="{{ path('removefromcart',{ id : key }) }}" method="post">
                                <li class="list-group-item">
                                    item  : {{ key }} <br>
                                    quantity : {{ quantity }}

                                    <button>remove </button>
                                </li>
                            </form>

                        {% endfor %}
                        <li class="list-group-item">total cost : {{app.session.get('cost') }}</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    {% if app.session.get('cart') is defined  %}

                    {% endif %}
                    <a href={{ path('rallfromcart') }} class="card-link">remove all</a>
                    <a href={{ path('purchase') }} class="card-link">purchase</a>

                </div>
            <!--   <div style ="display: inline-block;align-content:center; "> <span style =" background-color: #bbb;
  border-radius: 50%; display: block; width: 25px; height: 25px" >
                </span></div>
            </div> -->
            </div>
        </div>
    </div>



{% endblock %}
{% block assets  %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/shop.css') }}">

{% endblock %}
{% block scripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src ={{ asset('js/shop.js') }}></script>
{% endblock %}