{% extends 'account_details/user.html.twig' %}
{% block title %}Profile{% endblock %}

{% block main %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr':{'style': 'height: 250px'}}) }}
        <br>
        {{ form_end(form) }}
    </div>
{% endblock %}
