{% extends 'account_details/user.html.twig' %}

{% block title %} Edit Address{% endblock %}

{% block main %}
    <div class="container">
        <h1 style="color: white">Billing Address</h1>
        {{ form_start(form) }}
        {% for att in form %}
            {% if not loop.last %}
                {{ att.vars.label }}
                {{ form_label(att, null, {'label_attr': {'style': 'color:white'}}) }}
                {{ form_widget(att) }}
                <br>
            {% endif %}
        {% endfor %}
        {{ form_end(form) }}
    </div>
{% endblock %}
