{% extends 'account_details/user.html.twig' %}

{% block title %} Edit Address{% endblock %}

{% block main %}
    <div class="container">
        <h1 style="color: white">Profile Settings</h1>
        {{ form(form) }}
{#        {{ form_start(form) }}#}
{#        <div class="form-group">#}
{#            {{ form_label(form.firstname) }}#}
{#            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}#}
{#        </div>#}
{#        {{ form_end(form) }}#}
    </div>

{% endblock %}
