{% extends 'account_details/user.html.twig' %}
{% block title %}Profile{% endblock %}
{% block main %}
    <div class="container">
        {% for cle, value in  app.session.flashBag.get('success') %}
            <div class="alert alert-info">
                {{ value }}
            </div>
        {% endfor %}
        <h1 class="header">My Profile</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item ">
                <h4> Username : {{ user.username }}</h4>
            </li>
            <li class="list-group-item ">
                <h4>Email : {{ user.email }}</h4>
            </li>
            <li class="list-group-item ">
                <h4>First Name : {{ user.firstname }}</h4>
            </li>
            <li class="list-group-item ">
                <h4>Last Name : {{ user.lastname }}</h4>
            </li>
            <li class="list-group-item">
                <h4>Bio : </h4>
                {{ user.bio }}
            </li>
            <li class="list-group-item ">
                <h4>Phone Number : {{ user.phoneNumber }}</h4>
            </li>
        </ul>
    </div>
{% endblock %}
{% block second_main %}
    <div class="col">
        <div class="container" style="position: absolute; right: 20%">
            <h1 class="header">Profile Picture</h1>
            <img width="150" height="150" style ="border-radius: 50%" src="{{ asset('images/profile/uploads/' ~ user.photo) }}" alt="Avatar">
        </div>
    </div>
{% endblock %}
{% block assets %}
    <style>
        .header{
            color: white;
        }
    </style>
{% endblock %}