{% extends 'account_details/user.html.twig' %}
{% block title %}Profile{% endblock %}
{% block main %}
    <div class="container">
        <h1 class="header">My Profile</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item ">
                <h4> Username : {{ app.user.username }}</h4>
            </li>
            <li class="list-group-item ">
                <h4>Email : {{ app.user.email }}</h4>
            </li>
            <li class="list-group-item ">
                <h4>First Name : {{ app.user.firstname }}</h4>
            </li>
            <li class="list-group-item ">
                <h4>Last Name : {{ app.user.lastname }}</h4>
            </li>
            <li class="list-group-item">
                <h4>Bio : </h4>
                {{ app.user.bio }}
            </li>
            <li class="list-group-item ">
                <h4>Phone Number : {{ app.user.phoneNumber }}</h4>
            </li>
        </ul>
        <br>
        {% for cle, value in  app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ value }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block second_main %}
    <div class="col-3">
        <div class="container" style="">
            <h1 class="header">Profile Picture</h1>
            <br>
            <img width="250" height="250" style ="border-radius: 5%" src="{{ asset('images/profile/uploads/' ~ app.user.photo) }}" alt="Avatar">
        </div>
    </div>
{% endblock %}
{% block assets %}
    <style>
        .header{
            color: white;
        }
    </style>
{% endblock %}