{% extends 'account_details/user.html.twig' %}

{% block title %} Article {% endblock %}

{% block main %}
    <div class="container">
        <h1 style="color: white">Article Details</h1>
        <br>
        {% for cle, value in  app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ value }}
            </div>
        {% endfor %}
        <div class="card text-center">
            <div class="card-header">
                {{ article.title}}
            </div>
            <div class="card-body">
                <p class="card-text">{{ article.content | raw }}</p>
                <a href="{{ path('edit_Post',{"article":article.id}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('article_delete',{"article":article.id}) }}" class="btn btn-primary">Delete</a>
            </div>
            <div class="card-footer text-muted">
                {{ article.createdAt|date("d/m/y") }}
            </div>
        </div>
    </div>
{% endblock %}