{% extends 'base.html.twig' %}
{% block title %}User Profile{% endblock %}
{% block body %}
<body style="background: url('{{ asset('images/signup_bg.jpg') }}'); overflow-x: hidden">
    <div class="row">
        <div class="col">
            <h1 style="color: white">Account Settings</h1>
            <br>
            <div class="list-group">
                <a href='{{ path('profile') }}' class="list-group-item list-group-item-action">Profile</a>
                <a href='{{ path('editprofile') }}' class="list-group-item list-group-item-action">Personal Information</a>
                <a href='{{ path('edit_password') }}' class="list-group-item list-group-item-action">Security</a>
                <a href='{{ path('edit_address') }}' class="list-group-item list-group-item-action">Billing Address</a>
                <a href='{{ path('articles') }}' class="list-group-item list-group-item-action">Articles</a>
                <a href='{{ path('orders') }}' class="list-group-item list-group-item-action">Orders</a>
            </div>
        </div>
        <div class="col-9">
            {% block main %}
            {% endblock %}
        </div>
        {% block second_main %}
        {% endblock %}
    </div>
</body>
{% endblock %}
