{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}
{% block assets %}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/axentix.min.css">#}
{% endblock %}
{% block body %}
<body class="" style="background: url('{{ asset('images/signup_bg.jpg') }}'); overflow-x: hidden">
{#<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white" >#}
{#    <div class="sidenav-header">#}
{#        <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>#}
{#        <img class="sidenav-logo dropshadow-1" src="your_img_path"/>#}
{#    </div>#}
{#    <a href={{ path("profile")}} class="sidenav-link">Profile</a>#}
{#    <a href={{ path("edit_password")}} class="sidenav-link">Security</a>#}
{#    <a href={{ path("edit_address")}} class="sidenav-link">Billing Address</a>#}
{#    <a href="{{ path("profile")}}" class="sidenav-link">Notifications</a>#}
{#    <a href="{{ path("articles")}}" class="sidenav-link">Posts</a>#}
{#</div>#}
{#<main>#}
{#    <button data-target="example-sidenav"#}
{#            class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">#}
{#        Open sidenav#}
{#    </button>#}
{#    #}
{#</main>#}
    <div class="row">
        <div class="col">
            <h1 style="color: white">Account Settings</h1>
            <br>
            <div class="list-group">
                <a href='{{ path('profile') }}' class="list-group-item list-group-item-action">Profile</a>
                <a href='{{ path('editprofile') }}' class="list-group-item list-group-item-action">Personal Information</a>
                <a href='{{ path('edit_password') }}' class="list-group-item list-group-item-action">Security</a>
                <a href='{{ path('edit_address') }}' class="list-group-item list-group-item-action">Billing Address</a>
                <a href='{{ path('articles') }}' class="list-group-item list-group-item-action">Articles</a>
            </div>
        </div>
        <div class="col-10">
            {% block main %}
            {% endblock %}
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
{#    <script src="https://cdn.jsdelivr.net/npm/axentix@1.2.s/1/dist/jaxentix.min.js"></script>#}
{% endblock %}

