{% extends 'base.html.twig' %}
{% block assets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css">
    <link rel="stylesheet" href={{ asset('css/article.css') }}>

{% endblock %}
{% block title %}Articles • Astronomy Magazine{% endblock %}
{% block background %} <body> {% endblock %}
{% block body %}

        <div class="container">
            <div class="posting">


                {{ form_start(form) }}
                <h4>
                    {{ form_row(form.title) }}
                </h4>

              <h4>What do you want to share ?</h4>

                    <div id="editor" ></div>
                     {{ form_end(form) }}
            </div>
                <br>
            </div>

            <br>
            <div class="container">
            <div class="posts">
                <br>
                {% for article in articles %}
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title"> Title : {{article.title}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ article.content|raw }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            Published on  {{ article.createdAt|date("d/m/y h:i") }} By {{ article.user }}
                        </div>
                        <a href="{{ path('Show_Article',{"article":article.id}) }}" class="btn btn-primary">View comments</a>

                    </div>
                    <br>
                {% endfor %}
                <br>
            </div>
            </div>







{% endblock %}
{% block scripts %}
    <script src="{{ asset('ckeditor5/ckeditor5-/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}

