{% extends 'article/index.html.twig' %}

{% block title %}Article {{ article.id }} • Astronomy Magazine{% endblock %}
{% block body %}
        <section class="pt-8 pt-md-11">
            <div class="container mb-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                        <div class="card card-row shadow-light-lg">
                            <div class="row gx-0">
                                <div class="card-body">
                                    <blockquote class="mb-0 text-center">
                                        <p>{{ article.content | raw}}</p>
                                        <footer class="blockquote-footer">
                                            <span class="h6 text-uppercase">Published on {{ article.createdAt|date("d/m/y h:i")}} By {{ article.user }}</span>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% include "comments/form.html.twig" %}
    <div class="text-center">

        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalSubscriptionForm">Add comment</button>

    </div>

    {% include "comments/comments.html.twig" %}
{% endblock %}
{% block scripts %}
    <script src="public/{{ asset('ckeditor5/ckeditor5-/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
